{% extends 'base.html' %}

{% block content %}
{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}


    <h1>Login :</h1>
    <br/><br/>
    <form method="post" class="form">
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.user_name.label(class="form-label") }}
            {{ form.user_name(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }}
        </div>

        <button type="submit" class="btn btn-outline-success">{{ form.submit.label.text }}</button>
    </form>
    <br/><br/><br/>


{% endblock %}
