{% extends 'base.html' %}

{% block content %}
{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
<h1>Add Blog Post :</h1>
<br/>
<form method="post" class="form">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.title.label(class="form-label") }}
        {{ form.title(class="form-control") }}
    </div>

    <div class="form-group">
        {{ form.slug.label(class="form-label") }}
        {{ form.slug(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.content.label(class="form-label") }}
        {{ form.content(class="form-control",rows= 10) }}
    </div>
   
    <button type="submit" class="btn btn-outline-success">{{ form.submit.label.text }}</button>
</form>
<br/><br/><br/>

{% endblock %}
